name: Build and Test JavaScript
on:
  workflow_call:

jobs:
  build_and_test:
    name: Build Docker Image
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Build Docker image
        run: docker build -t cedar-cli .
        working-directory: js/cedar-analysis-mcp-server